@media(max-width: 428px){
/*                               /* Mobile 428px */
body{
    width: 408px;
    height: 1321px;
    margin: 0 auto;
    background-color: var(--orange);

}

.page{
    display: flex;
    flex-direction: column;
    padding-left: 53px;
}

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 31px;
}

/*                               /* Begin Logo principal (Mobile 428px) */

fieldset{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 320px;
    height: 1150px;
    border-radius: 20px;
    justify-content: center;
    align-items: flex-end;
}

.card_logo{
    width: 258px;
    height: 150px;
    background-color: var(--blue);
    border-radius: 20px;
    font-family: 'Squada One';
}

legend p{
    width: 162px;
    height: 74px;
    font-size: 70px;
    font-weight: 400px;
    line-height: 74px;
    color: var(--black);
}
/*                               /* END of Logo Principal (Mobile 428px) */

/*                               /* Begin Conteudo da Página (Mobile 428px) */
.contain{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 320px;
    height: 1150px;
    border-radius: 20px;
    justify-content: center;
    align-items: flex-end;
}

/*                               /* End of conteudo da página (Mobile 428px) */

/*                               /* Cadastro de usuario (Mobile 428px) */
.begin{
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-top: 57px;
    border-right: 1px;
}

.begin img{
    width: 150px;
    height: 150px;
    padding-left: 22px;
}

.begin label{
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.begin input{
    width: 300px;
    height: 42px;
    border: 3px solid var(--gray);
    border-radius: 5px;
    padding-left:13px 
}
.begin select{
    width: 316px;
    height: 42px;
    margin-left: 80px;
    border-radius: 5px;
    border: 3px solid var(--gray);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto';
}

.btn_comecar{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.begin button{
    font-family: 'Press Start 2P';
    width: 200px;
    height: 42px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    border: 3px solid --black;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
}
/*                             /* End of Cadastro de usuario (Mobile 428px) */

/*                           /* Begin of Game (Mobile 428px) */
.start{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.paragrafo{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    font-family: 'Roboto';
}

.start p{
    width: 300px;
    height: 108px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;
    padding-left: 60px;
}


.start h3{
    font-family: 'Press Start 2P';
    width: 306px;
    height: 16px;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding-left: 69px;
}

.start input{
    width: 300px;
    height: 42px;
    border: 3px solid var(--gray);
    border-radius: 5px;
    margin-left: 55px;
    
}

.btn_jogar{
    padding-right: 70px;
    padding-top: 50px;
}

.start button{
    width: 200px;
    height: 42px;
    background-color: var(--orange);
    border: 3px solid --white;
    border-radius: 20px;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--white);
}

.resposta_p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

/*                                    /* End of Game (Mobile 428px) */

}